{% extends 'base_login.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block titulo %}
    Teste Esoft Sitemas - Home
{% endblock %}

{% block conteudo %}
<div class="card border-left-warning shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text uppercase mb-1">
                    Produtos Cadastrados</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ qtd_produtos }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}