{% extends 'base_unlogin.html' %}
{% load static %}

{% block titulo %}
    Teste Esoft Sitemas - Index
{% endblock %}

{% block conteudo %}
    <address>
        Feito por Vinícius Fernandes<br>
        E-mail: viniciusfernansilva@gmail.com<br> 
        GitHub: <a href= "https://github.com/viniciusfernansilva" >https://github.com/viniciusfernansilva</a><br>
        Linkedin: <a href= "https://www.linkedin.com/in/vinicius-fernandes-35ba18170/" >https://www.linkedin.com/in/vinicius-fernandes-35ba18170/</a>
    </address>
{% endblock %} 